#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #FBE497;
    /* soft yellow as overall background */
}

header {
    background-color: rgba(20, 30, 13, 0.7);
    /* semi-transparent dark for contrast over hero image */
}

nav a:hover {
    background-color: #adc181;
    color: #FBE497
        /* soft green when you hover */
}

.book,
.join {
    background-color: #7EC8E3;
    /* light blue for buttons */
    color: black;
    /* good contrast */
}

.book:hover,
.join:hover {
    background-color: #adc181;
    /* soft green hover effect */
    color: white;
}

#background {
    background-color: #adc181;
    /* soft green background section */
}

.msg {
    background-color: white;
    /* clean white box for message */
    color: black;
}

footer {
    background-color: #adc181;
    /* light blue footer */
    color: black;
}

.home-title,
h4 {
    color: black
}

.msg h2,
.msg p {
    color: white;
    /* if background is dark */
}

footer a {
    color: black;
}

footer a:hover {
    color: white;
}